.winner-modal {
  height: 120%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  z-index: 10;
  .winner-modal-content {
    height: 300px;
    width: 70%;
    min-width: 300px;
    max-width: 1080px;
    margin: 32px auto 0px;
    padding: 24px 16px;
    text-align: center;
    background-color: #fff;
    overflow: scroll;
    .winner-modal-title {
      font-size: 48px;
      font-weight: bold;
      color: #000;
      margin-bottom: 16px;
    }
    .winner-modal-message {
      font-size: 36px;
      color: #000;
      word-break: break-all;
    }
  }
}
