form {
  text-align: center;
  .instructions-text {
    margin: 16px auto;
    font-size: 16px;
  }
  .wheel-input {
    display: block;
    margin: 0px auto 16px;
  }

  .add-option-btn {
    margin: 0px 16px 16px 0px;
  }

  .update-wheel-btn {
    border: 1px solid rgb(0, 0, 0);
    background-color: orange;
  }
  .update-wheel-btn:disabled {
    opacity: 50%;
  }
}
