form {
  text-align: center;
  .instructions-text {
    margin: 16px auto;
    font-size: 16px;
  }
  .wheel-input {
    display: block;
    margin: 0px auto 16px;
  }
  .btns-container {
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
      max-width: 400px;
      height: 72px;
      background-color: rgb(71, 187, 48);
      margin: 0px auto 16px;
    }
    .update-wheel-btn:disabled {
      opacity: 50%;
    }
    .spin-btn:disabled {
      opacity: 50%;
    }
  }
}
